project     = "xxxxxxxxxxxxxxxx"
region      = "us-central1"
health_check_name = "ig-health-check"
check_interval_sec = 5
timeout_sec = 5
healthy_threshold = 2
unhealthy_threshold = 10
request_path = "/"
port = 80
instance_template_name = "my-instance-template"
instance_template_machine_type = "f1-micro"
instance_group_zone = "us-east1-b"
source_image = "debian-cloud/debian-9"
auto_delete = false
metadata_startup_script = "sudo apt-get update && sudo apt-get install -y apache2"
subnetwork = "subnet2"
igm_name = "my-igm"
base_instance_name = "my-igm"
update_strategy = "NONE"
target_size = 2
initial_delay_sec = 300
instance_template_region = "us-east1"
