vpc_name = "myvpc"
subnet_name1 = "subnet1"
subnet_ip_cidr_range1 = "10.0.1.0/24"
subnet_region1 = "us-central1"
subnet_name2 = "subnet2"
subnet_ip_cidr_range2 = "10.0.2.0/24"
subnet_region2 = "us-east1"
project     = "xxxxxxxxxxxxxxxx"
region      = "us-central1"
